{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- <link href="{% static 'css/main.css'%}" rel="stylesheet" type="text/css" media="all" /> -->
<!--// Bootstrap-CSS -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!--// Font-Awesome-CSS -->
<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css' />
<!--// Responsive tabs -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">